# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Data
data/raw/*
data/processed/*
data/warehouse/*
!data/**/.gitkeep

# Env
.env

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Spark
spark-warehouse/
metastore_db/
derby.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp